.main {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: var(--max-width);
}

.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: var(--noto-sans);
    font-weight: 600;
    font-size: 1.5rem;
}

.title > img {
    max-width: 35px;
    /* margin-right: 20px; */
}

.sec01 {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.sec01 > ul > li {
    margin: 25px 0;
}

.sec01 > ul > li > input[type="text"] {
    padding: 20px 20px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}

.sec01 > ul > li > div > input[type="text"] {
    padding: 20px 20px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}

.sec01 input:focus {
   outline: none;
}


.sec01 > ul > li:nth-child(1) > label,
.sec01 > ul > li:nth-child(2) > label {
    display: block;
    margin: 5px 0;
}

.sec01 > ul > li:nth-child(1) > input,
.sec01 > ul > li:nth-child(2) > input {
    width: 100%;
    /* height: 60px; */
    border: none;
}

.sec01 > ul > li:nth-child(1) > div > input,
.sec01 > ul > li:nth-child(2) > div > input {
    width: 100%;
    /* height: 60px; */
    border: none;
}

.sec01 > ul > li:nth-child(1) > input {
    background-color: var(--blue);
}
.sec01 > ul > li:nth-child(2) > input {
    background-color: var(--red);                  

}

.sec01 > ul > li:nth-child(1) > div > input {
    background-color: var(--blue);
}
.sec01 > ul > li:nth-child(2) > div > input {
    background-color: var(--red);                  

}

.ready_ul > li > div {
    display: flex;
    flex-flow: row nowrap;
}

.sec01 > ul > li:nth-child(1) > input::placeholder,
.sec01 > ul > li:nth-child(2) > input::placeholder {
    color: #ffffff80;
    font-weight: 300;
    font-size: 1rem;
}

.sec01 > ul > li:nth-child(3) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.sec01 > ul > li:nth-child(3) > div > label {
    margin-right: 10px;
}
.sec01 > ul > li:nth-child(3) > div > input[type="radio"] {
    width: 18px;
    height: 18px;
}

.sec01 > ul > li:nth-child(3) > div > button {
    padding: 10px 15px;
    font-family: var(--noto-sans);
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}


.sec01 > ul > li:last-child > button {
    width: 100%;
    padding: 18px 0;
    border: none;
    background-color: var(--action-color);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--noto-sans);
    cursor: pointer;
}

/* 모달 */

.player_setting {
    padding: 50px 50px 80px;
    background-color: #146C94;
    border-radius: 15px;
}

.player_setting > div > h3{
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
}

.player_setting > div > span {
    display: block;
    font-size: 0.7rem;
    margin-top: 2px;
    text-align: center;
    color: #fff;
}

.player_wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.player_wrap > div {
    flex: 1;
    margin-right: 50px;
}

.player_wrap > div > h4 {
    margin: 15px 0;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
}

.player_wrap > div:last-child {
    margin: 0;
}

.player_wrap > div > ul > li {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}


.player_wrap > div > ul > li > label > img {
    height: 18px;
} 

.player_wrap > div > ul > li > input {
    padding: 12px 12px;
    font-size: 1rem;
    background-color: transparent;
    border-width: 0 0 1px;
    border-color: #ffffff44;
    margin: 5px 10px;
    font-weight: 400;
    color: #fff;
    width: 270px;
}

.player_wrap > div > ul > li > input::placeholder {
    color: #ffffff27;
    font-family: var(--noto-sans);
}


.close {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 200px;
    height: 50px;
    background: #000000;
    border: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    font-family: var(--noto-sans);
  }


  .clip {
    margin-left: 10px;
    width: 70px;
    border: 1px solid #555;
    background-color: transparent;
    cursor: pointer;
  }

  .clip > span {
    display: block;
    margin: 5px auto;
    width: 20px;
    height: 2px;
    background: #ddd;
  }

  .clip > p {
    margin-top: 5px;
    color: #ddd;
    font-size: 0.7rem;
    font-family: var(--noto-sans);
  }

  .clip.active {
    border: 2px solid #ddd;
  }