.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: var(--max-width);
}

.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: var(--noto-sans);
    padding: 20px;
    font-weight: 600;
    font-size: 1.5rem;
}

.title > img {
    max-width: 35px;
    /* margin-right: 20px; */
}

.sec01 {
    display: flex;
    flex-direction: column;
}

.sec01 > form {
    width: 700px;
    align-self: center;
    /* font-family: var(--theme-font); */
    font-size: 1.5rem;
    font-weight: 500;
}

.sec01 > form > ul > li {
    margin: 39px 0;
}

.sec01 input[type="text"] {
    padding: 10px;
    color: #fff;
    font-size: 1.1rem;
}

.sec01 input:focus {
   outline: none;
}


.sec01 > form > ul > li:nth-child(1) > label,
.sec01 > form > ul > li:nth-child(2) > label {
    display: block;
    margin: 5px 0;
}

.sec01 > form > ul > li:nth-child(1) > input,
.sec01 > form > ul > li:nth-child(2) > input {
    width: 100%;
    height: 60px;
    border: none;
}

.sec01 > form > ul > li:nth-child(1) > input {
    background-color: #466aa0;
}
.sec01 > form > ul > li:nth-child(2) > input {
    background-color: #a04646;                  
;
}

.sec01 > form > ul > li:nth-child(1) > input::placeholder,
.sec01 > form > ul > li:nth-child(2) > input::placeholder {
    color: #ffffff35;
    font-weight: 500;
}

.sec01 > form > ul > li:nth-child(3) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.sec01 > form > ul > li:nth-child(3) > div > label {
    margin-right: 10px;
}

.sec01 > form > ul > li:nth-child(3) > div > input[type="radio"] {
    width: 18px;
    height: 18px;
}


.sec01 > form > ul > li:nth-child(4) > button {
    width: 100%;
    padding: 18px 0;
    border: none;
    background-color: #0066ff;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--noto-sans);
}
